/* configurações gerais */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* Estilização do header */

.header {
    width: 100%;
    height: 70px;
    display: flex;
    box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.2);
    top: 0;
    position: fixed;
    background: #fff;
    z-index: 9999;
}

.logo {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navMenu {
    width: 50%;
    height: 100%;
    display: flex;
    padding: 0;

}

.navMenu li a {
    color: inherit;
    text-decoration: none;
}

.atual {
    background: #8b9935;
    color: white !important;
}

.navMenu li {
    padding: 20px;
    list-style-type: none;
    height: 100%;
    margin: 0 0.5px;
    text-transform: uppercase;
    cursor: pointer;
    color: #a3a3a3;
    font-family: 'Montserrat', sans-serif;
}

.navMenu li:hover {
    background: #8b9935;
    color: white;
}

/* Oculta menu hamburguer */

.menu-responsivo {
    display: none;
}



/* Estilizando conteudo */
.contato-cont {
    width: 100%;
    height: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    margin-top: 90px;
    margin-bottom: 50px;
    align-items: center;
    flex-direction: row;
}

.lado-a {
    width: 48%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-contato {
    width: 75%;
    margin: 15px 30px;
    border-radius: 8px;
    background: #F4F4F4;
    padding: 15px;
    cursor: pointer;
}

.header-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 50px;    
}

.title-footer {
    margin-left: 30px;
}

.conteudo-footer {
    font-family: 'Montserrat', sans-serif;
}

.card-contato:hover {
    transform: scale(1.1);
    transition: all ease 0.5s;
    background: #8b9935;
    color: #fff;
    flex: 1;
}

.card-contato:hover>.header-card>.icon-footer {
    color: #fff !important;
}

.icon-footer {
    color: #8b9934;
    font-size: 25pt;
    margin-bottom: 15px;
    margin-left: 8px;
}


/* Etilizando mapa */

.lado-b {
    width: 48%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.mapa-contato {
    width: 90%;
    height: 80%;
    border-radius: 8px;
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.9);
}



/* estilizando footer */

.footer {
    width: 100%;
    height: 110px;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    background: #F4F4F4;
    padding-top: 10px;
    margin-bottom: 0px !important;
    position: relative;
    bottom: 0;
}

.title-footer {
    margin-bottom: 10px;
    font-size: 11pt;
}

.conteudo-footer {
    font-weight: 600;
    font-size: 10pt;
}

.rodape-footer {
    width: 100%;
    height: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 9pt;
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: 15px;
}

.rodape-footer p span {
    color: #8b9935;
}







@media (max-width: 1100px) {

    /* Estiliza Body para responsivo */

    body {
        width: auto;
        padding: 0px;
    }

    /* Estiliza header para responsivo */

    .header {
        width: 100%;
    }

    /* Estiliza carrossel de banner no responsivo */

    .carousel {
        width: 100%;
    }
    
    /* Esconde menu desktop */

    .navMenu {
        display: none;
    }

    /* Ativa e estiliza menu responsivo */
    .menu-responsivo {
        display: flex;
        z-index: 99999;
        width: 100%;
        height: 100vh;
        position: relative;
        top: 0;
        position: fixed;
        display: flex;
    }

    .menu {
        flex: 1;
        display: none;
        height: 100%;
        width: 100%;
        margin-left: -20vw;
        margin-right: -15px;
        background-color: rgba(5, 5, 5, 0.568);
        transition: all 0.5s;
    }

    input[type="checkbox"]:checked~.menu {
        display: flex;
        position: fixed;
        transform: translateX(20vw);
        transition: all ease 0.7s;
    }

    input[type="checkbox"]:checked~.menu-responsivo {
        position: fixed;
        z-index: 0;
    }

    input[type="checkbox"]:checked~.icone {
       position: relative;
       z-index: 1;
    }

    .hamburguer {
        width: 30px;
    }

    .itens-nav {
        width: 100%;
        text-align: center;
        margin-top: 70px;
        margin-right: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .icone {
        padding: 10px;
        position: absolute;
        z-index: 1;
    }

    .itens-menu  {
        width: 100%;
        box-shadow: 0px 2px 2px 1px rgba(245, 243, 243, 0.2);
        height: auto;
        padding: 10px;
        padding-bottom: 25px;
        color: #fff;
        font-family: 'Montserrat', sans-serif;
        font-size: larger;
        text-transform: uppercase;
        font-weight: bolder;
        text-shadow: 0px 2px 2px 1px rgba(245, 243, 243, 0.2);
    }

    .itens-menu a {
        text-decoration: none;
        color: inherit;
        list-style-type: none;
    }

    .corpo {
        display: flex;
        margin: auto;

    }

    #check {
        display: none;
    }

    /* Ajusta Header para responsivo */

    .header{
        justify-content: center;
        align-items: center;
        height: 45px;
    }

    .logo {
        width: 90%;
        height: 100%;
    }

    .logo img {
        height: 80%;
        width: auto;
    }

    /* Ajustando responsividade da página contato */

    .contato-cont {
        flex-direction: column-reverse;
    }

    .lado-a {
        width: 100%;
    }

    .lado-b {
        width: 100%;
    }
}

@media ( max-width: 962px) {
    .contatos-footer {
        flex-direction: column;
    }

    .footer {
        height: auto;
    }

    .card-footer {
        width: 100%;
        margin-bottom: 30px;
    }

}