/* configurações gerais */

 @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* Estilização do header */

.header {
    width: 98.7vw;
    height: 70px;
    display: flex;
    box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.2);
    top: 0;
    position: fixed;
    background: #fff;
    z-index: 9999;
}
.logo {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navMenu {
    width: 50%;
    height: 100%;
    display: flex;
    padding: 0;

}

.atual{
    background: #8b9935;
    color: white !important;
}

.navMenu li {
    padding: 20px;
    list-style-type: none;
    height: 100%;
    margin: 0 0.5px;
    text-transform: uppercase;
    cursor: pointer;
    color: #a3a3a3;
    font-family: 'Montserrat', sans-serif;
}

.navMenu li:hover {
    background: #8b9935;
    color: white;
}

/* Estilização carrossel */
 
 .carousel {
    width: 98.7vw;
    object-fit: cover;
    z-index: 0;
  }
 
 .slide .carousel-item  {
    width: 100%;
    background-size: fill;
} 

/* Estilização sessão palestras */

.palestras {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: space-around;
    align-items: stretch;   
}

.link-card {
    text-decoration: none !important;
    width: 85%;
    height: 80vh;
    color: inherit !important;
    margin: 20px;
    margin-bottom: 110px;
}

.tit-palestra{
    margin: 20px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    font-size: 10pt;
}

.bold-palestras {
    font-weight: 1200;
    font-size: 25pt;
}

.card {
    width: 30% !important;
    height: 500px;
    border: none !important;
    display: flex;    
    flex-direction: column;   
    align-items: center;
    padding: 10px 4%;
    margin: 10px;
}

.card:hover {
    transform: scale(1.1);
    transition: all ease 0.8s;
    cursor: pointer;
}


.card:hover::after {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    content: "Clique para Saber Mais";
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 10pt;
    color: #fff;
    margin-top: 30px;
    border: 2px solid #a3a3a3;
    background: #a3a3a3;
    opacity: 0.5;
}

.num {
    border: 4px solid black;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.num h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 25pt;
}

.txt {
    margin-top: 25px;
}

.txt h2 {
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 10px;
    font-weight: bolder;
    font-size: 13pt;
}

.txt p {
    font-family: 'Montserrat', sans-serif;
    font-size: 11pt;
    text-align: justify-right;
}

.lista-remedios {
    font-family: 'Montserrat', sans-serif;
    font-size: 11pt;
}

.palestra1 > .num {
    color: #099de0;
    border-color: #099de0 !important;
}

.palestra1 > .txt > h2 {
    color: #099de0;
}

.palestra2 > .num {
    color: #8b9934;
    border-color: #8b9934 !important;
}

.palestra2 > .txt > h2 {
    color: #8b9934;
    margin-bottom: 25px;
}

.palestra3 > .num {
    color: #db002f;
    border-color: #db002f !important;
}

.palestra3 > .txt > h2 {
    color: #db002f;
    margin-bottom: 25px;
}

/* Estilização sessão sobre o projeto */

.sobre-projeto {
    display: flex;
    flex-direction: column;
    width: 85%;
    height: 80vh;
    padding: 10px 30px;
    margin: 20px;
    margin-bottom: 110px;
}

.tit-sobre {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    height: 15%;
    margin: 10px;
    font-size: 10pt;
}

.tit-sobre p {
    font-size: 13pt;
    font-weight: 600;
}

.tit-sobre h1 span {
    font-size: 25pt;
    font-weight: 1200;
}

.cont-sobre {
    width: 100%;
    display: flex;
    margin-top: 40px;
    height: 70vh;
}

.cont-sobre .img-sobre {
    width: 45%;
}

.cont-sobre .img-sobre img {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.txt-sobre {
    width: 50%;
    font-family: 'Montserrat', sans-serif;
    font-size: 11pt;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Estiliza cards de info */

.info-sobre {
    width: 100%;
    padding: 15px 0;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.info-left {
    width: 50%;
    height: 100%;
}

.info-right {
    width: 50%;
    height: 100%;
}

.card-info {
    display: flex;
    flex-direction: column;
    margin: 0 10px 10px 0;
    font-size: 11pt;
}

.card-info .fa-heartbeat {
    margin-bottom: 5px;
}

.icon-1, .icon-5 {
    color: #db002f;
}

.icon-2, .icon-6 {
    color: #8b9934;
}

.icon-3, .icon-4 {
    color: #099de0;
}


/* Estiliza sessão do video institucional */

.video-instit {
    width: 85%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 110px;
}

.tit-video{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 10pt;
}

.tit-video p {
    font-size: 13pt;
    font-weight: 600;
}

.tit-video h1 span {
    font-size: 25pt;
    font-weight: 1200;
}

.video-home{
    width: 70% !important;
    height: auto;
    border: 0.5px thin #999;
    box-shadow: 1px 2px 2px 2px #a3a3a3;
    border-radius: 4px;
    margin-bottom: 40px;
}

/* Estilização sessão case de sucesso */

.tit-case {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 10pt;
}

.tit-case span {
    font-size: 25pt;
}

.case-suc {
    width: 85%;
    height: 80vh;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
    margin-bottom: 100px;
}

.cont-case {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.foto-case {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.txt-foto {
    width: 100%;
    text-align: left;
    margin-bottom: 60px;
    justify-content: flex-end;
    align-items: flex-start;
}

.txt-foto p {
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 13pt;
    font-weight: 600;
    
}

.foto-perfil {
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foto-perfil img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 5px solid #db002f;
    background-size: cover;
}

.info-case {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.aspas {
    width: 100%;
    font-size: 50pt;
    color: #8b9935;
    height: 15%;
    display: flex;
}

.txt-case {
    font-family: 'Montserrat', sans-serif;
    font-size: 11pt;
    text-align: justify;
    width: 100%;
    height: 50%;
}

.info-case p {
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 11pt;
    color: #8b9935;
    font-weight: 500;    
    display: flex;
    justify-content: flex-start;
    text-align: left;
}

/* estilizando footer */

.footer {
    width: 100%;
    margin-top: 30px;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    background: #F4F4F4;
    padding-top: 90px;
}

.contatos-footer {
    width: 80%;
    height: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.card-footer {
    display: flex;
    flex-direction: column;
    width: 22%;
    height: 80%;
    margin-left: 10px;
    border-radius: 8px;
    cursor: pointer;
    background: #FFF;
    padding: 10px;
}

.card-footer:hover {
    transform: scale(1.1);
    transition: all ease 0.5s;
    background: #8b9935;
    color: #fff;
}

.card-footer:hover > .icon-footer {
    color: #fff;
}

.icon-footer {
    color: #8b9934;
    font-size: 25pt;
    margin-bottom: 15px;
    margin-left: 8px;
}

.title-footer {
    margin-bottom: 30px;
    font-size: 11pt;
}

.conteudo-footer {
    font-weight: 600;
    font-size: 10pt;
}

.rodape-footer {
    font-size: 9pt;
    font-weight: 600;
    margin-bottom: 10px;
}

.rodape-footer p span {
    color: #8b9935;
}
/* 
@media (max-width: 962px) {
    .header {
        height: 35px;
    }

    .logo {
        width: 80%;
    }

    .logo img {
        width: 40%;
    }

    .navMenu {
        display: none;
    }
    
    .carousel {
        height: 40vh;
    }
    .slide{
        width: 100%;
        height: 40vh;
    }

    .slide img {
        width: 100%;
        height: 40vh;
    }
}

@media (max-width: 620px) {

    .logo img {
        width: 70%;
    }
} */
