* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header {
    width: 100vw;
    height: 70px;
    background: red;
}

.navMenu {
    display: flex;
}

.navMenu li {
    padding: 20px;
    border: 2px solid black;
    list-style-type: none;
    height: 100%;
    margin: 0;
}