/* configurações gerais */

 @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* Estilização do header */

.header {
    width: 98.7vw;
    height: 70px;
    display: flex;
    box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.2);
    top: 0;
    position: fixed;
    background: #fff;
}
.logo {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navMenu {
    width: 50%;
    height: 100%;
    display: flex;
    padding: 0;

}

.atual{
    background: #8b9935;
    color: white !important;
}

.navMenu li {
    padding: 20px;
    list-style-type: none;
    height: 100%;
    margin: 0 0.5px;
    text-transform: uppercase;
    cursor: pointer;
    color: #a3a3a3;
    font-family: 'Montserrat', sans-serif;
}

.navMenu li:hover {
    background: #8b9935;
    color: white;
}

/* Estilização carrossel */
 
.carousel {
    width: 98.7vw;
    z-index: -1;
  }

.slide {
    width: 100%;
    height: 70vh;
    background-size: cover;
}

.slide img {
    width: 100%;
    height: 90vh;
}

/* Estilização sessão palestras */

.palestras {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: space-around;
    align-items: stretch;    
}

.link-card {
    text-decoration: none;
    width: 70%;
    color: inherit;
    margin: 30px;
}

.tit-palestra{
    margin: 20px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
}

.bold-palestras {
    font-weight: 1200;
    font-size: 35pt;
}

.card {
    width: 33%;
    height: 60vh;
    display: flex;    
    flex-direction: column;   
    align-items: center;
    padding: 10px 4%;
    margin: 10px;
}

.card:hover {
    transform: scale(1.1);
    transition: all ease 0.8s;
    cursor: pointer;
}


.card:hover::after {
    position: absolute;
    bottom: 0;
    margin-bottom: 5px;
    content: "Clique para Saber Mais";
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 13pt;
    color: #fff;
    margin-top: 40px;
    border: 2px solid #a3a3a3;
    border-radius: 8px;
    padding: 8px;
    background: #a3a3a3;
}

.num {
    border: 4px solid black;
    border-radius: 50%;
    width: 110px;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}



.num h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
}

.txt {
    margin-top: 25px;
}

.txt h2 {
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 10px;
    font-weight: bolder;
    font-size: 15pt;
}

.txt p {
    font-family: 'Montserrat', sans-serif;
    font-size: 13pt;
    text-align: justify-right;
}

.lista-remedios {
    font-family: 'Montserrat', sans-serif;
    font-size: 13pt;
}

.palestra1 > .num {
    color: #099de0;
    border-color: #099de0 !important;
}

.palestra1 > .txt > h2 {
    color: #099de0;
}

.palestra2 > .num {
    color: #8b9934;
    border-color: #8b9934 !important;
}

.palestra2 > .txt > h2 {
    color: #8b9934;
    margin-bottom: 25px;
}

.palestra3 > .num {
    color: #db002f;
    border-color: #db002f !important;
}

.palestra3 > .txt > h2 {
    color: #db002f;
    margin-bottom: 25px;
}

/* Estilização sessão sobre o projeto */

.sobre-projeto {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 30px;
    margin: 20px;
}

.tit-sobre {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    height: 15%;
    margin: 10px;
}

.tit-sobre p {
    font-size: 16pt;
    font-weight: 600;
}

.tit-sobre h1 span {
    font-size: 35pt;
    font-weight: 1200;
}

.cont-sobre {
    width: 100%;
    display: flex;
    margin-top: 40px;
    height: 70vh;
}

.cont-sobre .img-sobre {
    width: 50%;
}

.cont-sobre .img-sobre img {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.txt-sobre {
    width: 50%;
}
